.candidate-register {
	width: 100%;
	height: auto;
	min-height: 100vh;
	background-image: url("../images/clothingmanufacturer.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
  }  

.candidate-register button {
	background-color: #e2d2f2;
}

.candidate-register i { 
	margin: 1rem;
	font-size: 1.5rem;
}

.candidate-register h2 {
	text-align: center;
	font-size: 2.6rem;
	margin-bottom: 0;
}	

.candidate-register form {
	text-align: center;
	background-color: #fffffff3;
	width: 50%;
	margin: 8rem auto;
	padding: 1rem 0 3.4rem 0;
	border-radius: 15px;
}

.candidate-register form label {
	width: 100%;
}

.candidate-register form input {
	margin-top: 1.4rem;
	width: 60%;
	height: 1.85rem;
	border-radius: 25px;
	padding: 0.1rem 1rem;
	border: 2px solid #e9e9e9;
	font-size: 1rem;
}

.candidate-register form input[type="date"] {
	color: #8a8888;
	padding: 0 1rem;
}

.candidate-register form .button {
	margin-top: 3rem;
}

.candidate-register form .button button {
	width: 15rem;
	height: 2.4rem;
	font-size: 0.9rem;
	border: none;
	border-radius: 25px;
	background-color: #5e6be1;
	color: #ffffff;
}
@media only screen and (max-width: 800px) {
    .candidate-register form input {
        width: 80%;
    } 
}

@media only screen and (max-width: 600px) {

    .candidate-register form {
        width: 54%;
    }

    .candidate-register form .button button  {
        width:78.51%;
    }
}

@media only screen and (max-width: 400px) {
    .candidate-register form {
        width: 60%;
    }
}
