.deluxReport {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: fixed;
}

.deluxReport h2 {
	color: #2839D8;
	font-size: 3rem;
	text-align: center;
	margin-top: 7rem;
}

.deluxReport table {
	text-align: center;
	margin-left: 2.5rem;
	width: 95%;
	font-size: 1.2rem;
	margin-top: 2rem;
	border-collapse: collapse;
}

.deluxReport table th {
	border: 2px solid #f1eff1;
	padding: 1rem;
	font-size: 1.2rem;
}

.deluxReport table tbody tr {
	border: 2px solid #f1eff1;
	padding: 2rem;
	padding-left: 2rem;
	color: #505050;
	font-size: 1.1rem;
}

.deluxReport table tbody tr:nth-child(2n-1) {
	background-color: #deeaf6;
}

.deluxReport table tbody tr:nth-child(2n) {
	background-color: #ffffff;
}

.deluxReport table input[type="number"] {
	width: 5rem;
	margin-left: 2rem;
}

.deluxReport table tr td button {
	width: 6rem;
	height: 1.8rem;
	border: none;
	border-radius: 5px;
	margin: 2%;
}

.deluxReport table tr td button:nth-child(1) {
	background-color: #0c8ce9;
}

.deluxReport table tr td button:nth-child(1):hover {
	background-color: #0a73be;
}

.deluxReport table {
	border: 2px solid #d6d6d6;
	padding: 1rem;
	border-radius: 15px;
}

@media only screen and (max-width: 900px) {
	.deluxReport table th {
		font-size: 0.9rem;
	}

	.deluxReport h2 {
		font-size: 2.85rem;
	}
	.deluxReport table td {
		font-size: 1rem;
	}
}