@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap");

.proficiency {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.proficiency .proficiency-percentage {
	position: relative;
	left: 65%;
	top: 20vw;
	font-size: 5vw;
	background-color: #5e6be1;
	width: 14vw;
	height: 14vw;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f1f1f1;
	text-align: center;
	box-shadow: 0px 2px 10px 6px #bbbbee;
}

.proficiency .proficiency-percentage p {
	/* margin-top: 15rem; */
	
}

.proficiency h2 {
	text-align: center;
	font-size: 2.5rem;
	font-family: "Inter", sans-serif;
	margin-top: -2.5rem;
}

.proficiency-labels {
	background-color: #fafafa;
	
}

.proficiency .top-labels {
	margin-left: 20%;
	font-size: 1.1rem;
}

.proficiency .top-labels label {
	display: block;
	margin-top: -0.5rem;
}

.proficiency .top-labels label span {
	margin-left: 10px;
	font-weight: 500;
}

.proficiency .bottom-labels {
	margin-left: 20%;
	margin-top: 2rem;
	/* transform: translate(-58%, -50%); */
	font-size: 1.2rem;
}

.proficiency .bottom-labels label {
	display: block;
	margin-top: -1rem;
	font-weight: 550;
}

.proficiency .bottom-labels label span.percentage {
	position: absolute;
	left: 50%;
}

.proficiency .button {
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 4%;
}

.proficiency .button button {
	background-color: #5e6be1;
	padding: 1rem 2.8rem;
	color: #ffffff;
	font-size: 1.2rem;
	border-radius: 5px;
}

.back {
	background-color: #5e6be1;
}

@media only screen and (max-width: 1000px) {
	.proficiency .bottom-labels label span.percentage {
		left: 60%;
	}
}

@media only screen and (max-width: 700px) {
	.proficiency .bottom-labels label span.percentage {
		left: 70%
	}

	.proficiency h2 {
		font-size: 2rem;

	}

	.proficiency .top-labels {
		margin-top: 1rem;
	}
}
@media only screen and (max-width: 600px) {
	.proficiency .bottom-labels label span.percentage {
		left: 80%;
	}

	.proficiency .proficiency-percentage {
		left: 60%;
		top: 91vw;
		width: 22vw;
		height: 22vw;
	}

	.proficiency h2 {
		margin: 0;
	}

	.proficiency-labels {
		margin-top: 12%;
	}
}

@media only screen and (max-width: 500px) {
	.proficiency .proficiency-percentage {
		top: 105vw;
	}

	.proficiency .bottom-labels label{
		font-size: 1rem;
	}
}

@media only screen and (max-width: 450px) {
	.proficiency .proficiency-percentage {
		top: 119vw;
	}
}
